.display-6 {
font-size: 1rem;
margin-top: -10px;
text-transform: uppercase;
margin-left: 1px;
}
h3 {
    text-transform: uppercase;
    padding-top: 7px;

}
.center {
    text-align: center;
}
.p-3 {
    padding-bottom: 0.2rem!important;
}
.center1 {
    text-align: center;
    padding: 30px;
}
.btn-light {
    margin-left: 10px;
}
h4 {
    color: black;
    font-size: 1rem;
}
h1 {
    color: grey!important; 
    line-height: 0;
}
.btn-light {
    width: 155px;
}
.comeco {
    display: flex;
}
@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.3rem;
    }
    .btn-light {

        margin-bottom: 20px;
        height: 70px;
        width: 46%;
        padding-right: 0;
        padding-left: 0;
}
    #newzao {
      width: 182px;  
      height: 212.41px; 
    }
}
.tutorial {
    margin-top: 15px;
}
.alogin{
    align-items: center;
    display: flex;
    width: 11%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 10%;
}