<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro jogo</title>
    <script src="cadastrar.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">

        <form method="POST" action="config/processa1.php" style="padding:22px; border: solid 1px;">
            <label>Nome: </label>
        <input type="text" name="nome" placeholder="digite aqui..." required="" style="width:252px">
        <br><br>
            <label>Desenvolvedora:  </label>
        <input type="text" name="corp" placeholder="digite aqui..." required="">
        <br><br>
        <label class="visually" for="inlineFormSelectPref">Progresso</label>
        <select class="form-select" id="inlineFormSelectPref" name="progresso">
      <option value="1">Jogou</option>
      <option value="2">Multiplayer</option>
      <option value="3">Não Terminou</option>
      <option value="4">Não terminou, apenas Multiplayer</option>
      <option value="5">Terminou com Multiplayer</option>
      <option value="6">Platinou sem Multiplayer</option>
      <option value="7">Platinou com Multiplayer</option>
      <option value="8">Nunca jogou</option>
    </select>
        <br>
        <label class="itens">Imagem: </label>
        <input type="text" name="imagem" placeholder="digite url..." required="" style="width:234px"></input>
        <br><br>
        <label class="itens">Valor: </label>
        <input type="text" name="valor" placeholder="digite o valor..." style="width:234px"></input>
        <br><br>
        <label class="itens">Tempo de jogo: </label>
        <input type="text" name="tempo" placeholder="digite o tempo de jogo" style="width:234px"></input>
        <br><br>
        <label class="visually" for="inlineFormSelectPref">Plataforma</label>
        <select class="form-select" id="inlineFormSelectPref" name="plataforma">
      <option value="1">PS4</option>
      <option value="4">PS3</option>
      <option value="2">PC</option>
      <option value="3">MOBILE</option>
    </select>
    <br>
        <input type="submit" value="CADASTRAR" class="btn btn-primary" style="width:299px">
        
    </form>

    </div>
</body>
</html>